[user]
	name = '${name}'
	email = '${email}'
	signingkey = '${signingkey}'
#  gpg -K --keyid-format SHORT
#  gpg --armor --export xxx
#  git config --global gpg.program $(which gpg)
#  git config --global user.signingkey xxx

[color]
	ui = auto

[color "branch"]
	current = yellow reverse
	local = yellow
	remote = green

[color "diff"]
	meta = yellow bold
	frag = magenta bold
	old = red
	new = green

[color "status"]
	added = green
	changed = yellow
	untracked = cyan

[diff]
	renames = copies

[help]
	autocorrect = 1

[merge]
	log = true

[core]
	editor = micro
	excludesfile = ~/.gitignore_global
[commit]
	template = ~/.stCommitMsg
	gpgsign = true

[pull]
	ff = only
	rebase = true

[init]
	defaultBranch = main
	templateDir = ~/.git-tf-precommit-hook

[push]
	autoSetupRemote = true

[gpg]
	program = /usr/local/bin/gpg

[alias]
	actions = "!f() { gh run list --branch $(git rev-parse --abbrev-ref HEAD); }; f" # todo: run first `gh auth login`
    ci = commit -v
